@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: #005167;
  color: #fff;
}

.bg-hero-pattern {
  background-image: url("/images/background/hello.png");
}

@layer base {
  :root {
    --background: 203 46% 100%;
    --foreground: 203 70% 5%;
    --muted: 203 28% 87%;
    --muted-foreground: 203 1% 27%;
    --popover: 0 0% 99%;
    --popover-foreground: 203 70% 4%;
    --card: 0 0% 99%;
    --card-foreground: 203 70% 4%;
    --border: 203 2% 93%;
    --input: 203 2% 93%;
    --primary: 202.09 72.8% 49.02%;
    --primary-foreground: 0 0% 100%;
    --secondary: 203 17% 89%;
    --secondary-foreground: 203 17% 29%;
    --accent: 203 24% 80%;
    --accent-foreground: 203 24% 20%;
    --destructive: 0 92% 28%;
    --destructive-foreground: 0 92% 88%;
    --ring: 203 60% 41%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 203 44% 2%;
    --foreground: 203 17% 99%;
    --muted: 203 28% 13%;
    --muted-foreground: 203 1% 73%;
    --popover: 203 44% 3%;
    --popover-foreground: 0 0% 100%;
    --card: 203 44% 3%;
    --card-foreground: 0 0% 100%;
    --border: 203 2% 14%;
    --input: 203 2% 14%;
    --primary: 203 60% 41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 203 11% 16%;
    --secondary-foreground: 203 11% 76%;
    --accent: 203 17% 25%;
    --accent-foreground: 203 17% 85%;
    --destructive: 0 92% 49%;
    --destructive-foreground: 0 0% 100%;
    --ring: 203 60% 41%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
